<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.m9dfukc.deepltranslate</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>15926BE1-31FB-4FCE-BBFA-3FE2F4D6A8B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A2DB648-D5C8-4D29-9C12-A254DF2B667C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A2DB648-D5C8-4D29-9C12-A254DF2B667C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61BF4F8C-DC18-4BB4-8DDD-A87C45C0F79E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andreas Schmelas</string>
	<key>description</key>
	<string>translate text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Deepl Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>61BF4F8C-DC18-4BB4-8DDD-A87C45C0F79E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>de</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving suggestions from DeepL ...</string>
				<key>script</key>
				<string>require_once( __DIR__ . '/deepl.php' );
echo output_translation('{query}', 'DE', 'deepl translation');</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Translate with DeepL</string>
				<key>title</key>
				<string>DeepL Dictionary</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>15926BE1-31FB-4FCE-BBFA-3FE2F4D6A8B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>$in = "{query}";
preg_match("/\{([^}]*)\s*\}\{([^}]*)\s*\}\{([^}]*)\s*\}/", $in, $matches);
echo $matches[3];</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8A2DB648-D5C8-4D29-9C12-A254DF2B667C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>15926BE1-31FB-4FCE-BBFA-3FE2F4D6A8B7</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>61BF4F8C-DC18-4BB4-8DDD-A87C45C0F79E</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8A2DB648-D5C8-4D29-9C12-A254DF2B667C</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
